<!DOCTYPE html>
<html>
<head>
	<title>RESTful Blogs</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<p>header</p>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="code icon"></i>Blogistics</div>
			<a href="/" class="item">HOME</a>
			<a href="/blogs/new" class="item">Create Blogs</a>
		</div>
		
	</div>

